main {
    display: block;
    padding: 20px 20%;
    align-items: flex-start;
    columns: 3 auto;
    gap: 20px;
}

.article {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--bg-sec);
    padding: 10px;
    border-radius: 20px;
    break-inside: avoid;
    transition: border 0.1s ease-in-out, transform 0.1s ease-in-out;
    border: 2px solid var(--bg-sec);
    box-sizing: border-box;
}

.article:hover {
    transform: scale(1.05);
    border-color: var(--accent);
    cursor: pointer;
}

main img {
    width: 100%;
    border-radius: 10px;
}