@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    --bg-prim: rgb(30, 30, 30);
    --bg-sec: rgb(40, 40, 40);

    --fc-prim: rgb(255, 255, 255);

    -accent: rgb(200, 255, 0);
}

body {
    background-color: var(--bg-prim);
    color: var(--fc-prim);
}

h1,
h2,
h4,
h5,
h6,
a,
p {
    color: var(--font-prim);

    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(2.5rem, 2dvw, 5rem);
    font-weight: 500;
}

h2 {
    font-size: clamp(2rem, 1.5dvw, 3.75rem);
    font-weight: 400;
}

h4 {
    font-size: clamp(1rem, 0.75dvw, 3rem);
    font-weight: 400;
}

h5 {
    font-size: clamp(3rem, 3dvw, 10rem);
    font-weight: 600;
}

h6 {
    font-size: clamp(4rem, 4dvw, 10rem);
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    font-size: clamp(1rem, 1.25dvw, 4rem);
}

@media screen and (orientation: portrait) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 3.5rem;
    }

    h6 {
        font-size: 4.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.indicator {
    display: flex;
    width: 450px;
    height: 30px;
    line-height: 170%;
    justify-content: center;
    gap: 5px;
}

.indicator p {
    width: 100%;
    text-align: center;
    border: 1px solid var(--fc-prim);
    border-radius: 5px;
}

.indicator img {
    width: 30px;
    height: 30px;
    border: 1px solid var(--fc-prim);
    border-radius: 5px;
}

.prodgrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.product {
    background-color: var(--bg-sec);
    border: 1px solid var(--fc-prim);
    border-radius: 10px;
    padding: 10px;
}

.product img {
    width: 100%;
    height: 100px;
}