:root {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;

    --bg-prim: rgb(30, 30, 30);
    --bg-nav: rgb(20, 20, 20);
    --bg-sec: rgb(40, 40, 40);
    --fc-prim: white;

    --accent: rgb(141, 255, 11);
}

:root[data-theme="light"] {
    --bg-prim: white;
    --bg-nav: rgb(240, 240, 240);
    --bg-sec: rgb(240, 240, 240);
    --fc-prim: black;

    --accent: rgb(38, 97, 11);
}

body {
    background-color: var(--bg-prim);
    color: var(--fc-prim);
}

h1,
h2,
h4,
h5,
h6,
a,
p {
    color: var(--font-prim);

    margin: 0;
    padding: 0;
}

h1 {
    font-size: clamp(2.5rem, 2dvw, 5rem);
    font-weight: 500;
}

h2 {
    font-size: clamp(2rem, 1.5dvw, 3.75rem);
    font-weight: 400;
}

h4 {
    font-size: clamp(1rem, 0.75dvw, 3rem);
    font-weight: 400;
}

h5 {
    font-size: clamp(3rem, 3dvw, 10rem);
    font-weight: 600;
}

h6 {
    font-size: clamp(4rem, 4dvw, 10rem);
    font-weight: 700;
}

a {
    text-decoration: none;
}

p {
    font-size: clamp(1rem, 1.25dvw, 4rem);
}

@media screen and (orientation: portrait) {
    h1 {
        font-size: 1.75rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }

    h5 {
        font-size: 3.5rem;
    }

    h6 {
        font-size: 4.5rem;
    }

    p {
        font-size: 1.5rem;
    }
}

main {
    min-height: calc(100vh - 125px);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

iframe {
    border: none;
    z-index: 500;
}

.accent {
    color: var(--accent);
    text-decoration: underline;
    font-style: italic;
}

nav {
    background-color: var(--bg-nav);
    color: var(--fc-prim);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;

    font-size: clamp(1rem, 1vw, 2rem);
    z-index: 500;
}

ul {
    display: flex;
    gap: 20px;
}

a {
    color: var(--fc-prim);
    text-decoration: none;
}

.toggle {
    position: absolute;
    right: 20px;
    background-color: var(--bg-sec);
    outline: 2px solid var(--bg-prim);
    width: 80px;
    height: 40px;
    border-radius: 90px;
    padding: 5px;
    box-sizing: border-box;
}

input#themeToggle {
    display: none;
}

.toggle::after {
    content: "";
    position: absolute;
    background-color: var(--bg-prim);
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

footer {
    background-color: var(--bg-prim);
    color: var(--fc-prim);
    font-size: clamp(0.8rem, 0.75vw, 1.5rem);

    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 500;
}

:root[data-theme="light"] .toggle::after {
    transform: translateX(40px);
}